* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

.btn {
    padding: 5px 35px;
    background-color: black;
    color: white;
    border-radius: 0;
    border: 0;
    transition: all 0.1s linear;
    font-size: 20px;
    margin: 5px;
}
.btn:active {
    transform: scale(0.8);
}
.btn:active {
    background-color: #543654;
}

.container {
    padding: 5px;
    padding-left: 30px;
    border-bottom: 1px solid black;
}

ul {
    padding-left: 50px;
}
li{
  display: flex;
  align-items: center;
}

img {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    object-fit: cover;
}
